<% layout ('layout/boilerplate')%>
<div class="row">
  <h1 class="text-center">New Bookshop</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/bookshops"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="bookshop[title]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="bookshop[location]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <!-- <div class="mb-3">
        <label class="form-label" for="image">Image URL</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="bookshop[image]"
        />
      </div>
    -->

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="bookshop[description]"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            id="image"
            name="image"
            multiple
          />
          <label class="custom-file-label" for="image">Choose image(s)</label>
        </div>
      </div>

      <div class="mb-3">
        <button class="btn btn-success">Add Bookshop</button>
      </div>
    </form>
    <a href="/bookshops">All Bookshops</a>
  </div>
</div>
